<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Characteristics</key>
	<array>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Team Player</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Lazy</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Leader</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Slow</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Athletic</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Quick</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Smart</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>UnCoachable</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Coachable</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Aniticpates Play</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Self-Confident</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Focused</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Conceited</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Mentally Tough</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Future Potential</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Raw Athlete</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Unskillled</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Respectful</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Loves the Game</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Deals with Adversity</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Fit</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Unfit</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Disrespectful</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Hides</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Helpful</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>value</key>
			<string>Cuts Corners</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
